@{
    ViewBag.Title = "About";
}

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>MуBudget</title>
    <link rel="stylesheet" href="~/Content/styles.css" type="text/css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css" /
    <title>Выравнивание фотографии по центру</title>
</head>

<p class="fig">
    <img src="~/img/home.jpg"
         width="1263" height="320" alt="Фотография">
</p>



<style>
    .fig {
        text-align: center; /* Выравнивание по центру */
    }


    .center {
        width: 700px; /* Ширина элемента в пикселах */
        padding: 10px; /* Поля вокруг текста */
        margin: auto; /* Выравниваем по центру */
    }
</style>



<div class="center">
    <nav>
        <ul class="top-menu">
            <li><a href="index">ГЛАВНАЯ</a></li>
            <li class="active">О КОМПАНИИ</li>
            <li><a href="Contact">ОБРАТНАЯ СВЯЗЬ</a></li>
        </ul>
    </nav>
</div>



<div class="center">
    <div id="heading">
        <h1>О компании</h1>
    </div>
</div>


<aside>
    <nav>
        <ul class="aside-menu">
            <li><a href="Table">Здание для аренды</a></li>
            <li><a href="Dohodi">Зданрния для покупки</a></li>
        </ul>
    </nav>
</aside>


<div class="center">
    <h2>
        Наш сайт поможет вам в создании семейного бюджета, его грамотном составлении и ведении.Ничего лишнего. Только по
        делу на понятном языке для каждого.
    </h2>
    <h2>Статьи пишутся исключительно с целью повышения Вашей финансовой грамотности.</h2>
</div>
<footer>
    <div id="footer">
        <div id="tw">
            <h3>16-09-2018</h3>
            <p>
                Хорошо составленный годовой бюджет позволяет жить, не залезая в долги, значительную часть года.
            </p>
        </div>
        <div id="sitemap">
            <h3>О САЙТЕ</h3>
            <div>
                <a href="Contact">Обратная связь</a>
                <a href="About">О проекте</a>
            </div>
        </div>
    </div>
</footer>
