@{
    ViewBag.Title = "Contact";
}


<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>MуBudget</title>
    <link rel="stylesheet" href="~/Content/styles.css" type="text/css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css" />

    <title>Выравнивание фотографии по центру</title>
</head>

<p class="fig">
    <img src="~/img/home.jpg"
         width="1263" height="320" alt="Фотография">
</p>

<style>
    .fig {
        text-align: center; /* Выравнивание по центру */
    }


    .center {
        width: 700px; /* Ширина элемента в пикселах */
        padding: 10px; /* Поля вокруг текста */
        margin: auto; /* Выравниваем по центру */
    }
</style>

<div class="center">
    <nav>
        <ul class="top-menu">
            <li><a href="index">ГЛАВНАЯ</a></li>
            <li><a href="About">О САЙТЕ</a></li>
            <li class="active">ОБРАТНАЯ СВЯЗЬ</li>
        </ul>
    </nav>
</div>


<body>
    <div class="center">
        <div id="heading">

            <h1> ОБРАТНАЯ СВЯЗЬ</h1>

        </div>
    </div>
</body>



<aside>
    <nav>
        <ul class="aside-menu">
            <li><a href="Table">ТАБЛИЦА РАСХОДОВ</a></li>
            <li><a href="Dohodi">ДОХОДЫ И РАСХОДЫ</a></li>
            <li><a href="Kakebo">KAKEBO</a></li>
        </ul>
    </nav>
</aside>




<section></section>


<div class="center">
    <h2>
        Доброго времени суток! Со всеми вопросами, предложениями и отзывами можете обращаться по почте
        <address>
         <a href="mailto:catia.ekaterina@mail.ru">catua.ekaterina@mail.ru</a><br />
        </address>
    </h2>

</div>




<p class="fig">
    <img src="~/img/1_O3sEH7H6LpLB7Mi6Q0yMOg.jpeg"
         width="680" height="320" alt="Фотография">
</p>

<footer>
    <div id="footer">
        <div id="tw">
            <h3>16-09-2018</h3>
            <p>
                Хорошо составленный годовой бюджет позволяет жить, не залезая в долги, значительную часть года.
            </p>
        </div>

        <div id="sitemap">
            <h3>О САЙТЕ</h3>
            <div>
                <a href="Contact">Обратная связь</a>
                <a href="About">О проекте</a>

            </div>
        </div>
    </div>
</footer>


