@{
    ViewBag.Title = "Home Page";
}
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>MуBudget</title>
    <link rel="stylesheet" href="~/Content/styles.css" type="text/css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css" />

    <title>Выравнивание фотографии по центру</title>
</head>
<body>
    <p class="fig">
        <img src="~/img/CY2NYGSvMto.jpg"
             width="1263" height="320" alt="Фотография">
    </p>

    <style>
        .fig {
            text-align: center; /* Выравнивание по центру */
        }


        .center {
            width: 700px; /* Ширина элемента в пикселах */
            padding: 10px; /* Поля вокруг текста */
            margin: auto; /* Выравниваем по центру */
        }
    </style>



    <div class="center">
        <nav>
            <ul class="top-menu">
                <li class="active">ГЛАВНАЯ</li>
                <li><a href="About">О САЙТЕ</a></li>
                <li><a href="Contact">ОБРАТНАЯ СВЯЗЬ</a></li>
                <li>@Html.ActionLink("РЕГИСТРАЦИЯ", "User", "User")</li>
            </ul>
        </nav>
    </div>



    <div class="center">
        <div id="heading">
            <h1> ДОМАШНИЙ БЮДЖЕТ</h1>
        </div>
    </div>




    <aside>
        <nav>
            <ul class="aside-menu">
                <li><a href="Table">ТАБЛИЦА РАСХОДОВ</a></li>
                <li><a href="Dohodi">ДОХОДЫ И РАСХОДЫ</a></li>
                <li><a href="Kakebo">KAKEBO</a></li>

            </ul>
        </nav>
    </aside>


    <section>
        <blockquote>
            <p>
                “БЮДЖЕТ:МАТЕМАТИЧЕСКОЕ ПОДТВЕРЖДЕНИЕ НАШИХ ПОДОЗРЕНИЙ.”
            </p>
            <cite>А.А.Латимер</cite>
        </blockquote>
    </section>


    <div class="center">
        <p>Вы всегда тратили раздельно, а теперь хотите вести семейный бюджет?</p>
        <p>Мы расскажем, с чего начать и как учитывать финансы вдвоем.</p>

        <h2>Выберите модель ведения бюджета</h2>
        <p>Есть несколько способов вести семейный бюджет: общий, смешанный и раздельный бюджеты.</p>

        <h2>Общий бюджет.</h2>
        <p>Вы объединяете все доходы, и из них оплачиваете счета и личные траты. </p>
        <p>Минусы: не получится делать сюрпризы; могут возникать споры, если у вас и партнера сильно разнится заработок.</p>
        <h2>Смешанный бюджет. </h2>
        <p>Подходит парам с неравными доходами. Каждый отчисляет в общий котел равную сумму денег или эквивалент в процентах.</p>
        <h2>Раздельный бюджет.</h2>
        <p>Название говорит за себя—вы делите общие траты пополам, оставшиеся деньги расходуете на себя.</p>
        <p>Минус: неудобно планировать большие покупки.</p>
        <p>Какой бы способ вы ни выбрали, стоит следовать общим правилам ведения семейного бюджета, о которых расскажем дальше.</p>
        <h2>Общие принципы грамотного ведения домашней бухгалтерии.</h2>
        <h3>Принцип выбора учётного периода.</h3>
        <p>Привыкнув мыслить в календарной размерности, большинство людей выстраивают бухгалтерию по месяцам. Это же советуют делать и в инструкциях по составлению семейного бюджета в приложениях и различных онлайн-калькуляторах. Месячный интервал, на первый взгляд, выглядит удобным и проверенным «шагом», но в среднесрочной и долгосрочной перспективах зачастую вызывает проблемы. Привыкнув эффективно сводить «концы с концами» в течение месяца, распорядители домашних ресурсов испытывают сложности с выделением денег на отпуск (или крупные покупки). Им сложно отказаться от уже сформированного образа жизни. Выделение денег на поездку к морю становится серьёзным испытанием для финансовой гармонии. Для таких трат уже приходится менять формирование структуры семейного бюджета. Аналогичные проблемы возникают, если, например, необходимо отложить средства на платное образование, а расчёт ведётся исключительно в годовом интервале.</p>
        <p>
            Поэтому грамотный подход предполагает синхронизацию:
            <li>
                краткосрочного планирования – на месяц с учётом ежемесячной платы за жильё, погашения кредита, ожидаемых дней рождения и т. д.
        </p>
        <li>среднесрочного – на год, – где учитываются траты на отпуск, сезонную смену одежды, профилактическую стоматологию, косметический ремонт и подобные.</p>
        <li>
            долгосрочного прогнозирования, при котором заблаговременно создаётся материальный фонд, позволяющий обезопасить себя в случае непредвиденных ситуаций (операция, вынужденный переезд), или обеспечивающий масштабные житейские траты (свадьбы детей, платная учёба в ВУЗе, капитальное строительство).</p>
            <h3>Принцип разделения личных финансов и общего семейного бюджета.</h3>
            <p>Л. Н. Толстой определил эту дилемму так: «Для того чтобы предпринять что-нибудь в совместной жизни, необходимы или совершенный раздор между супругами, или любовное согласие». Применительно к домашнему хозяйству это означает, что проще всего планировать поступления-траты:</p>
        <li>либо в случае применения «независимой модели» без организации постоянного «общего котла», однако это касается только краткосрочного периода, а в среднесрочной перспективе общие траты начинают покрываться за счет того, у которого в текущий момент есть деньги, что вызывает споры;</p>
        <li>
            либо при «совместной» и «иждивенческой» моделях, когда существует единый «кошелёк», с понятной предсказуемой схемой его наполнения, что облегчает математику расчётов.</p>
            <h2>Источники формирования статей семейного бюджета: из чего он складывается, куда расходуется, как сэкономить.</h2>
            <p>Сведение в общую картину доходов и расходов по всем периодам даёт возможность легко перераспределить энергоресурсы в случае возникновения непредвиденных ситуаций. В шаблонных схемах бюджетирования подробнее перечисляются элементы более стандартной расходной части, поскольку доходная часть сложнее поддаётся детализации.</p>
            <h3>Возможные источники поступлений:</h3>
        <li>Выплаты за наёмный труд – зарплата (пенсия), бонусы и премии.</p>
        <li>Бизнес-прибыль от частного предпринимательства. Это может быть как основной (собственный «свечной заводик»), так и дополнительный (продажа излишков с собственного огорода) источник доходов.</p>
        <li>Помощь со стороны. Молодым семьям на постоянной основе часто деньгами или «консервацией» помогают родители.</p>
        <li>Рента. Доход с инвестиций в недвижимость (аренда), получение процентов по вкладам, ценным бумагам и т.д.</p>
        <li>
            Выигрыши. Доход от лотереи, игровых автоматов, тотализатора. На него зачастую опрометчиво рассчитывают, как на регулярный.  </p>
            <p>При этом, например, выгодная своевременная покупка валюты до «падения» национальной денежной единицы в долгосрочном смысле доходом не считается, поскольку на эти изменения тут же реагирует вся экономическая среда, относительно быстро выравнивая кажущуюся выгоду. Так что на покупке валюты можно заработать, только при системной торговле с учётом валютных скачков. Но валютные приобретения, с некоторыми оговорками, можно рассматривать как способ сохранения капитала на долгосрочный период.</p>
            <h3>Стандартные расходы в краткосрочный и среднесрочный периоды – за месяц и год:</h3>
            <p>Питание. Статья расходов, которая допускает широкую вариабельность и позволяет в случае необходимости «затянуть пояса», не срывая алгоритма ведения хозяйства. Сюда же входят суммы на рабочие обеды. Как сэкономить при этом? В столовых в непопулярное время берутся экономные завтраки, в магазинах – покупки производятся во время акций и скидок, которые можно отслеживать по емейл-рассылкам.</p>
        <li>Бытовая химия. В этой категории – затраты на порошки, моющие средства, зубные щётки и пасты.</li>
        <li>Декоративная и уходовая косметика, услуги парикмахера, косметолога. Об этой затратной статье часто забывают, но шампунями, дезодорантами, туалетной водой регулярно пользуются и мужчины и женщины.</li>
        <li>Связь и коммуникации. Оплата телефонов, интернета, кабельного или спутникового телевидения.</li>
        <li>Логистика. Траты на дорогу – заправка машины или покупка билетов.</li>
        <li>Амортизация и устаревание. Ресурсы, затраченные на ремонт автомобиля, велосипеда, смену одежды, замену морально и технически устаревающих гаджетов, замена школьных учебников или игрушек.</li>
        <li>Коммунальные платежи. Сюда входит плата за съёмное или собственное жильё, расходы на воду, электроэнергию, газ и др. С наступлением отопительного сезона суммы платежей возрастают, поэтому на этот параметр необходимо обратить отдельное внимание в среднесрочной перспективе.</li>
        <li>Праздники, дни рождения, вечеринки. График празднований дней рождений, как правило, известен заранее. Однако тут нужно учесть как средства на подарок – при походе в гости, так и ресурсы для проведения собственных домашних мероприятий. Вечеринки «с пивом» тоже целесообразнее отнести к этой статье, поскольку потребляемые еда и алкоголь не заменяют здесь повседневного питания.</li>
        <li>Секции и кружки, школьные и детсадовские траты «на шторы».</li>
        <li>Кредитные задолженности.</li>
        <h3>Расходы долгосрочного периода.</h3>
        <li>Фонд крупных покупок. Средства на товары, услуги, которые нужно собирать несколько лет: автомобиль, масштабная операция, длительное дорогое путешествие и др.</p>
        <li>Жилищный фонд. Средства, которые обычно идут на покупку жилья детям или на капитальное строительство собственного дома.</li>
        <li>Образование. Деньги на платное образование можно откладывать как для себя, так и для детей.</li>
        <li>Касса непредвиденных расходов. У неё может быть какой-то максимальный объём, при достижении которого деньги будут распределяться на другие нужды.</li>
    </div>

    <footer>
        <div id="footer">
            <div id="tw">
                <h3>16-09-2018</h3>
                <p>
                    Хорошо составленный годовой бюджет позволяет жить, не залезая в долги, значительную часть года.
                </p>
            </div>

            <div id="sitemap">
                <h3>О САЙТЕ</h3>
                <div>
                    <a href="Contact">Обратная связь</a>
                    <a href="About">О проекте</a>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>

